::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #554b7a;
}

::-webkit-scrollbar-thumb{
  background: #a691eb;
}

::-webkit-scrollbar-thumb:hover{
  background: #b19dfa;
}
.topnav a.active {
    background-color: #a691eb;
    color: white;
}
.topnav a:hover {
    background-color: #b19dfa;
    color: black;
  }
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }  
.topnav {
    overflow: hidden;
    background-color: #554b7a;
  }

#Logo{
    text-align: center;
}
.Logo{
    width: 300px;
    height: 150px;
}
.überschrift{
  text-align: center;
  font-family: Lucida Handwriting;
}  
table, th, td{
  background-color: #554b7a;
  color:#f2f2f2;
  border: 1px solid;
  border-color: black;
}
table{
  width: 50%;
  margin-left: auto;
  margin-right: auto ;
}